<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= item.text %> Recipe </h1>
  <form action="/users/<%=user._id%>/foods/<%= item._id%>?_method=PUT" method="POST">
    <label for="text">Edit Cookbook:</label>
    <input type="text" name="text" id="text" value="<%=item.text%>" />
    <button type="submit">Edit Recipe</button>
  </form>
  <a href="/users/<%=user._id%>/foods/<%= item._id%>/edit">Back to foods</a>
</body>
</html>