<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= user._id %>'s Pantry</h1>

<% pantryItems.forEach(item => { %>
 <li> <%= item.text %> - <%= pantry.text %>

 </li>
<% }) %>


 <p><a href="/users/<%=user._id%>/foods/ <%=item._id%>">Explore our Community!</a></p>
<a href="/users">Back to Community</a>
</body>
</html>